h1{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;

    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example{
  0% {color: white;}
  25%{color: lightblue;}
  50%{color: pink;}
  75%{color: purple;}
  100%{color: white;}
}

h2{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}

h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

body{
    background-color: pink;
    margin: 0;
}

main{
  width: 89%;
  /*margin-top: 60px;*/
  margin-left: 150px;
}



/**This is the wedding page **/


.flexcontainer{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flexcontainer p{
  font-size: 35px;
}



/*Wedding page ended */

#container{
  width: 500px;
  margin: 0 auto;
}

div.picGrid{
  display: flex;
  flex-wrap: wrap;
}

figure{
  margin: 0;
}

.imgPicTab{
  max-width: 100%;;
  height: auto;
  display: block;
  margin: 0;
}

div a{
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  
}

#imgPicTab{
  height: auto;
  max-width: 100%;

}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* makes the labels aligned */
form > label{
  width: 100px;
  display: inline-block;
  text-align: right;
}

/* makes the button center on the form */
.buttonHolder{
  text-align: center;
}

nav > ul{
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    padding: 0;
}

nav li a{
    display: block;
    padding: 10px;
    border-left: 1px solid white;
    text-decoration: none;
    color: black;
}

.active{
    background-color: #4d94ff;
    color: black;
}

nav li:hover{
    background-color: #80b3ff;
    color: black;
}

nav{
    background-color: lightblue;
    color: white;
    margin: 0;
}

#menu-button{
    display: none;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.gaoneng{
    text-align: center;
}

.gaoneng img {
    width: 500px;
    padding: 50px;
}

.aboutMe{
    
    text-align: center;
    font-size: 24px;
}

.imgBalloonCard{
    max-width: 100%;
    height: auto;   
}

#imgGaoneng{
  display: block;
  text-align: center;
  max-width: 50%;
  max-height: 50%;
    height: auto;
    margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

#insta{
    text-align: center;
}

@media(max-width: 800px){
    #menu-button{
      padding: 10px;
  
      display: block;
      align-self: stretch;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    header{
      background-color: lightblue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: fixed; /**makes nav fixed **/
      left: 0;
      right: 0;
      top: 0;
      height: 60px;
      box-shadow: 0 -15px 10px 20px gray;
    }
  
    main{
      padding-top: 60px;
    }
  
    h1{
      font-size: 25px;        
      color: white;
      background-color: lightblue;
      margin-left: 100px;

      animation-name: example;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }

    @keyframes example{
      0% {color: white;}
      25%{color: black;}
      50%{color: pink;}
      75%{color: purple;}
      100%{color: white;}
    }
    h2{
      padding-top: 60px;
      color: black;
    }

    /*** Pricing ***/

    .flexcontainer{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .flexcontainer p{
      font-size: 35px;
    }

    /*** End pricing ***/

    /*** Navigation ***/

    nav{
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
    }
  
    nav.open{
      display: block;
    }
  
    nav > ul{
      flex-direction: column; /** Already a flex box so just change direction **/
    }
  
    nav > ul > li{
      border-top: 1px solid white;
    }
    nav > ul > li:active, .active{
      background-color: tan;
      color: black;
      }

      /*** End navigation ***/
    
  }