h1{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    height: 55;
    font-size: 35px;
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}

h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 10px;
}

body{
    background-color: pink;
    margin: 0;
}

#container{
  width: 500px;
  margin: 0 auto;
}

div.gallery{
  margin: 5px;
  border: 1px solid grey;
  float: left;
  width: 180px;
  text-align: center;

}

div.gallery img{
   max-width: 100%;
   height: auto;
   display: block;
}


div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* makes the labels aligned */
form > label{
  width: 100px;
  display: inline-block;
  text-align: right;
}

/* makes the button center on the form */
.buttonHolder{
  text-align: center;
}

nav > ul{
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    padding: 0;
}

nav li a{
    display: block;
    padding: 10px;
    border-left: 1px solid white;
    text-decoration: none;
    color: black;
}

.active{
    background-color: #4d94ff;
    color: black;
}

nav li:hover{
    background-color: #80b3ff;
    color: black;
}

nav{
    background-color: lightblue;
    color: white;
    margin: 0;
}

#menu-button{
    display: none;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.gaoneng{
    text-align: center;
}

.gaoneng img {
    width: 500px;
    padding: 50px;
}

.aboutMe{
    
    text-align: center;
    font-size: 24px;
}

#imgBalloonCard{
    max-width: 100%;
    height: 600px;
}

#imgGaoneng{
  display: block;
  text-align: center;
  max-width: 50%;
  max-height: 50%;
    height: auto;
    margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

#insta{
    text-align: center;
}

@media(max-width: 800px){
    #menu-button{
      padding: 10px;
  
      display: block;
      align-self: stretch;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    header{
      background-color: lightblue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: fixed; /**makes nav fixed **/
      left: 0;
      right: 0;
      top: 0;
      height: 60px;
      box-shadow: 0 -15px 10px 20px gray;
    }
  
    main{
      padding-top: 60px;
    }
  
    h1{
      padding: auto;
      font-size: 25px;        
      color: white;
      background-color: lightblue;
    }
    h2{
      padding-top: 60px;
      color: black;
    }
    nav{
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
    }
  
    nav.open{
      display: block;
    }
  
    nav > ul{
      flex-direction: column; /** Already a flex box so just change direction **/
    }
  
    nav > ul > li{
      border-top: 1px solid white;
    }
    nav > ul > li:active, .active{
      background-color: tan;
      color: black;
      }
    
  }