h1{
    background-color: black;
    color: white;
    
    margin: 0;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 35px;
    
}

body{
    background-color: pink;
    margin: 0;
}

nav > ul{
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    padding: 0;
}

nav li a{
    display: block;
    padding: 10px;
    border-left: 1px solid white;
    text-decoration: none;
    color: black;
}

.active{
    background-color: #4d94ff;
    color: black;
}

nav li:hover{
    background-color: #80b3ff;
    color: black;
}

nav{
    background-color: lightblue;
    color: white;
    margin: 0;
}

#menu-button{
    display: none;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.gaoneng{
    text-align: center;
}

.gaoneng img {
    width: 500px;
    padding: 50px;
}

.aboutMe{
    
    text-align: center;
    font-size: 24px;
}


#insta{
    text-align: center;
}

@media(max-width: 450px){
    #menu-button{
      padding: 10px;
  
      display: block;
      align-self: stretch;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    header{
      background-color: lightblue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: fixed; /**makes nav fixed **/
      left: 0;
      right: 0;
      top: 0;
      height: 60px;
      box-shadow: 0 -15px 10px 20px gray;
    }
  
    main{
      padding-top: 60px;
    }
  
    h1{
      padding: 10px;
        
      color: white;
      background-color: lightblue;
    }
    nav{
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
    }
  
    nav.open{
      display: block;
    }
  
    nav > ul{
      flex-direction: column; /** Already a flex box so just change direction **/
    }
  
    nav > ul > li{
      border-top: 1px solid white;
    }
    nav > ul > li:active, .active{
      background-color: tan;
      color: black;
      }
    
  }