header h1{
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 55px;
}

body{
    background-color: pink;
    margin: 0;
}

nav{
    background-color: lightblue;
    color: white;
    margin: 0;
}

ul{
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    display: flex;
}

li{
    padding: 10px;
    border-left: 1px solid white;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.gaoneng{
    text-align: center;
}

.gaoneng img {
    width: 500px;
    top: 50%;
}

.aboutMe{
    text-align: center;
    font-size: 24px;
}



flex{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;

}