h1{
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0;
}

nav{
    background-color: lightblue;
    color: white;
    margin: 0;
}

ul{
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    display: flex;
}

li{
    padding: 10px;
    border-left: 1px solid white;
}